

.btn-darrow {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
  transform: rotate(90deg);
  
  margin-top:22px;
  margin-left:232px;
  padding-top:0px;
  svg {
  
    &:nth-child(1) {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    
    &:nth-child(2) {
      opacity: 0.63;
    }
    
  }
  
  &.btn-animate {
    svg:nth-child(1) {
      will-change: transform;
      animation: floating 1.5s ease infinite;
      
    }
    
    svg:nth-child(2) {
      animation: toogleOpacity 1.5s ease infinite;
      will-change: opacity;
      
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes toogleOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.63;
  }
  100% {
    opacity: 0;
  }
}

.container {
  background-color:#ff5000;
  height:60px;
  border-radius:10px;
  margin-top:100px;
  color:white;
  position:relative;
}

#bookaservicebutton2 {
 
  width:67%;
  position:absolute;
  top:-14px;
  font-weight:500;
  font-size:27px;
  margin-left:13%;
}



* {
 /* border:1px solid black;*/
}


