
@media only screen and (max-width: 600px) {
  body {
    width:100%;
  }

#mainline {
font-size:44px;
}

#logo {
width:50%;
}
  
nav {
display:none;
}

  
.content-wrapper {
width:90%;
margin:0 auto;
background-color:pink;
}

#bookbutton {
  display:none;
  background-color:#FF5000;
  color:white;
 border:none;
  font-weight:bold;
  height:51px;
  width:95%;
  font-size:20px;
  border-radius:7px;
 margin-top:15px;
   box-sizing: content-box;
  margin-bottom:10px;
}

#bookbutton:hover {
  display:none;
  background-color:black;
  color:white;
  font-weight:bold;
  height:51px;
  width:95%;
  font-size:20px;
  border-radius:7px;
   box-sizing: content-box;
  margin-bottom:10px;

}

#callbutton {
  display:none;
  background-color:white;
  color:black;
  font-weight:bold;
  height:45px;
  width:95%;
  font-size:20px;
  border-radius:7px;
  box-sizing: content-box;

}

#callbutton a {
  display:none;
  background-color:white;
  color:black;
  font-weight:bold;
  height:45px;
  width:95%;
  font-size:20px;
  border-radius:7px;
  box-sizing: content-box;
  text-decoration: none;
  color: black;
}

 
#callbutton:hover {
  background-color:black;
  color:white;
  font-weight:bold;
  height:45px;
  width:95%;
  font-size:20px;
  border-radius:7px;
  box-sizing: content-box; 
}  

  #callbutton:hover a {
  background-color:black;
  color:white;
}  

#topbar-email {
display:none;
text-decoration:none;
float:right;
color:ff5000;
}

#topbar-email a {
display:none;
}

#topbar-phonenumber {
display:none;
}

