@media only screen and (max-width: 600px) {
  body {
    width:100%;
  }

nav {
display:none;
}

.content-wrapper {
width:100%;
margin:0 auto;
background-color:pink;
}

#bookbutton {
  background-color:#FF5000;
  color:white;
 border:none;
  font-weight:bold;
  height:30px;
  width:90%;
  font-size:20px;
  border-radius:10px;
  margin-right:10px;
 margin-top:15px;
}

#bookbutton:hover {
  background-color:black;
  color:white;
  font-weight:bold;
  height:30px;
  width:90%;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}

#callbutton {
  background-color:white;
  color:black;
  font-weight:bold;
  height:30px;
  width:90%;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}

#callbutton:hover {
  background-color:black;
  color:white;
  font-weight:bold;
  height:30px;
  width:90%;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}  

#topbar-email {
text-decoration:none;
float:right;
color:ff5000;
}

#topbar-email a {
display:none;
}

#topbar-phonenumber {
display:none;
}

