#topbar img {
height: 13px;
margin-right: 7px
}

height: 13px;
margin-right: 7px

#contact-submitbutton {
background-color:#ff5000;
color:white;
padding:50px;
width:200px;
}


#simplelink {
color:#ff5000;
}

#subfooter {
height:500px;
}

#topbar a {
color:#ff5000;
}


a #topbar-email {
color:#ff5000;
font-weight:bold;
}


a #topbar-email {
color:#ff5000;
font-weight:bold;
}


a #topbar-phonenumber {
color:#ff5000;
}

.subfooter-column {
width:21%;
background-color:blue;
float:left;
}
 
#topbar-clickhere {
color:#ff5000;
font-weight:bold;

 }


#workwithus-toplink {
padding-top:15px;
}

#topbar a {
color:ff5000;
}

#topbar-email {
text-decoration:none;
float:right;
color:ff5000;
}

#topbar-email a {
color:ff5000;
}

#topbar-phonenumber {
margin-right:20px;
float:right;
color:ff5000;
text-decoration:none;
}

#topbar-phonenumber a {
color:ff5000;
}


#topbar-clickhere {
color:ff5000:
}

#mainline {
font-size:59px;
}

.active {
background-color:white;
border-radius: 5px;
padding:10px;
color:white;
}

.active:hover {
background-color:Black;
border-radius: 5px;
padding:10px;
color:white;
}

.active a {
background-color:white;
border-radius: 5px;
padding:12px;
color:white;
}

body {
margin:0 auto;
font-family:"sohne-var","Helvetica Neue","Arial",sans-serif;
margin: 0px;
padding: 0px;
}  

#loginpagebody {
margin:0 auto;
font-family:"sohne-var","Helvetica Neue","Arial",sans-serif;
margin: 0px;
padding: 0px;
background-color:black;
text-align:center;
}  

#logo {
 width:20%;
 height:20%;
 margin-top:15px;
  
}

nav {
 margin-top: 36px;
 font-size: 15px;
 float:right;
 list-style: none;
}

nav a {
 text-decoration:none;
 color:black;
 font-weight:900;
}


nav a:not(:last-child) {
  margin-right:40px;
}

nav a:active {
  background-color:;
}

#nationwide-coverage {
font-weight:200;
color:#FF5000;
}
 
a:hover {
  color:#2D2D2D;
}

a:visited {
  background-color:black;
}


nav2 {
 margin-top: 36px;
 font-size: 15px;
 list-style: none;
 position: sticky;
 top: 0;
 background-color:orange;
}


nav a {
 text-decoration:none;
 color:black;
 font-weight:900;
}

#bookbutton {
  background-color:#FF5000;
  color:white;
 border:none;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:10px;
  margin-right:10px;
 margin-top:15px;
}

#bookbutton:hover {
  background-color:pink;
  color:white;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}

#callbutton {
  background-color:white;
  color:black;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}

#callbutton:hover {
  background-color:yellow;
  color:white;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}

#home-landing {
height:800px;
}


#home-whatwedo {
background-color:white;
height:800px;
}

#home-howitworks {
background-color:#F7F7F7;
height:500px;
margin-top:300px;
height:1000px; 
}

#home-faq {
height:500px;
height:1500px; 
background-color:black;
color:white;
}

#home-backtotop {
background-color:white;
height:200px;
}

#home-workwithus {
background-image: url("worker.png");
background-color:red;
color:white;
height:600px;
text-align:center;
}

#home-workwithus a {
color:white;
font-weight:bold;
text-align:center;
}

#home-getourapp a {
background-color:blue;
font-weight:bold;
text-align:center;
 height:900px;
}

#home-getourapp {
text-align:center;
}
 
#home-latestnews a {
background-color:blue;
font-weight:bold;
text-align:center;
height:900px;
}

#home-reviews a {
background-color:green;
font-weight:bold;
text-align:center;
height:900px;
}

#home-whychooseus a {
background-color:orange;
font-weight:bold;
text-align:center;
height:900px;
}

#bottompagelinks {
float:right;
list-style: none;
color:#FF5000;
margin-top: 15px;

}

#bottompagelinks a {
text-decoration:none;
color:#FF5000;
}

#bottompagelinks a:not(:last-child) {
  margin-right:20px;
}



#companyreglink {
color:#FF5000;
text-decoration:none;
}

footer {
background-color:black;
color:white;
width:100%;
height:50px;
}

.content-wrapper {
width:1200px;
margin:0 auto;
background-color:yellow;
}

.content-wrapper:nth-child(1) {
background-color:black;
}

.content-wrapper:nth-child(2) {
background-color:white;
}

.content-wrapper:nth-child(6) {
background-color:black;
}

.content-wrapper2 {
width:1200px;
margin:0 auto;
background-color:white;
}

#topbar {
margin:0 auto;
background-color:black;
color:white;
height:50px;
}

#copyright {
margin:0 auto;
background-color:black;
color:white;
padding-top:15px;
clear:left;
}


