.active {
background-color:Black;
border-radius: 5px;
padding:10px;
color:white;
}

.active a {
background-color:Black;
border-radius: 5px;
padding:12px;
color:white;
}

body {
margin:0 auto;
width:1200px;
font-family:"sohne-var","Helvetica Neue","Arial",sans-serif;
}  

#logo {
 width:20%;
 height:20%;
 margin-top:15px;
  
}

nav {
 margin-top: 30px;
 font-size: 15px;
 float:right;
 list-style: none;
}

nav a {
 text-decoration:none;
 color:black;
}

nav a:not(:last-child) {
  margin-right:40px;
}

nav a:active {
  background-color:pink;
}

#nationwide-coverage {
font-weight:200;
color:#FF5000;
}
 
a:hover {
  color:#2D2D2D;
}

a:visited {
  background-color:black;
}

#bookbutton {
  background-color:#FF5000;
  color:white;
 border:none;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:10px;
  margin-right:10px;
 margin-top:15px;
}

#bookbutton:hover {
  background-color:black;
  color:white;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}

#callbutton {
  background-color:white;
  color:black;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}

#callbutton:hover {
  background-color:black;
  color:white;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
  margin-right:10px;
}


#home-howwework {
background-color:#F7F7F7;
height:500px;
margin-top:300px;
}
    
#home-whatwedo {
background-color:white;
height:500px;
}

#home-faq {
background-color:#F7F7F7;
height:500px;
}

#home-backtotop {
background-color:white;
height:200px;
}

#bottompagelinks {
float:right;
list-style: none;
color:#FF5000;
}

#bottompagelinks a {
text-decoration:none;
color:#FF5000;
}

#bottompagelinks a:not(:last-child) {
  margin-right:20px;
}

#home-landing {
height:700px;
}

#companyreglink {
color:#FF5000;
text-decoration:none;
}
