body {
margin:0 auto;
width:1200px;
}  

logo {
 height:50%;
  width:50%;
}

a:active {
  background-color:pink;
}

a:hover {
  background-color:green;
}

a:visited {
  background-color:green;
}

#bookbutton {
  background-color:black;
  color:white;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:10px;
}

#bookbutton:hover {
  background-color:white;
  color:black;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
}

#callbutton {
  background-color:black;
  color:white;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:10px;
}

#callbutton:hover {
  background-color:white;
  color:black;
  font-weight:bold;
  height:50px;
  width:250px;
  font-size:20px;
  border-radius:5px;
}


#home-howwework {
background-color:blue;
height:500px;
}
    
#home-whatwedo {
background-color:green;
height:500px;
}

#home-faq {
background-color:red;
height:500px;
}

#home-backtotop {
background-color:blue;
height:200px;
}

nav {
float:right;
}
